@import "../variables.scss";

// header //
.header{
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    top: 0;
    background-color: #ffae46;
    padding: 0 0 0 3vw;
    .img_box {
        width: 60vw !important;
        height: 50px;
    }
    img {
        width: 230px;
        height: 45px;
        &:hover{cursor: pointer;}
    }
    @include mq(md) {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        img {
            height: 60px;
            width: 300px;
        }
    }
}