@import "../variables.scss";

.categories {
    h2 {
        text-align: center;
        margin: 20px 0;
        font-family: serif;
        letter-spacing: 0.2rem;
      }
      @include mq(md) {
        h2 {
          font-size: 2rem;
        }
      }
}