@import "../variables.scss";

.news {
    margin: 0 0 20px;
    .news_img {
      object-fit: cover;
      width: 100vw;
      height: 200px;
    }
    .border {
      border-bottom: solid 1px #e2e2e2;
      height: 5px;
      margin: 0 2vw 20px;
    }
    h2 {
      font-size: 1.2rem;
      margin: 10px 3vw;
    }
    p {
        font-size: 0.9rem;
        margin: 0 3vw;

        img {
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            transform: translateY(-13px);
            height: 220px;
            object-fit: cover;
        }
    }
    pre {
        background-color: #ffbb63;;
        text-align: center;

        code {
            font-size: 4.3vw;
            padding: 12px 1vw;
            display: inline-block;
            text-shadow: 1px 1px 1px #000;
            color: #fff;
            font-weight: bold;
        }
    }
    blockquote {
        margin: 10px 3vw;
    }
    .ad_cont {
        a{
            width: 80vw;
            padding: 10px 0;
            margin: 20px 10vw 0;
            text-align: center;
            text-shadow: 1px 1px 1px #947d7d;
            border-radius: 23px;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            background-color: #ffae46;
            &:active {
                background-color: #947d7d;
            }
        }
    }
    @include mq(md) {
        margin: 80px 100px 20px;
        padding: 0 0 50px;
        width: 700px;
        background-color: #fff;
        .news_img {
            width: 450px;
            margin: 0 125px;
        }
        .border {
            margin: 0 40px 20px;
        }
        h2 {
            font-size: 1.4rem;
            margin: 10px 20px;
            text-align: center;
        }
        p {
            font-size: 1rem;
            margin: 10px 40px 0;
            img {
                width: 400px;
                margin: 10px 100px;
                transform: translate(0);
            }
        }
        pre {
            margin: 20px 0 0;
            code {
                font-size: 1.3rem;
            }
        }
        blockquote {
            font-size: 1.1rem;
        }
        .ad_cont {
            a {
                width: 400px;
                margin: 50px 150px;
            }
        }
    }
}
