@import "../variables.scss";

.recipe_single {
    h1 {
        font-size: 1.4rem;
        padding: 10px 0;
        margin: 0;
        text-align: center;
    }
    .tag_box {
        display: flex;
        justify-content: center;
        text-align: center;
        
        h5 {
        display: block;
        width: 25vw;
        background-color: #999;
        border-radius: 15px;
        margin: 0 3px 10px;
        font-size: 1rem;
        color: #fff;
        font-weight: normal;
        &:active {background-color: #fff;}
        }
    }
    div {
    position: relative;
    z-index: 0;
    }
    .flex {
    margin: 0 0 20px;
    }
    a {
        font-size: 1rem;
        width: 80vw;
        padding: 10px 0;
        margin: 20px 10vw 0;
        text-align: center;
        text-shadow: 1px 1px 1px #947d7d;
        border-radius: 23px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        &:active {
            background-color: #c3c3c3;
        }
    }
    .youtube_btn {
    background-color: #ff6969;
    }
    iframe {
        width: 100vw;
        height: 56.3vw; 
        top: 60px;
    }
    p {
        margin: 0 3vw;
        font-size: 0.9rem;
        
        &:nth-of-type(1) {
            text-align: center;
            font-weight: bold;
            font-size: 1rem;
        }
    }
    pre {
        border: solid 1px #3e3e3e;
        background-color: #fff;
        padding: 2vw 3vw;
        width: 90vw;
        margin: 0 1.5vw;
        box-shadow: 1px 1px 10px #3e3e3e;

        code {
            width: 90vw;
        }
    }

    @include mq(md) {
        h1 {
            padding: 40px 0 30px;
            font-size: 2rem;
        }
        .tag_box{
            h5 {
                width: 150px;
                height: 27px;
                padding: 5px 0 0 0;
                &:hover{cursor: pointer;}
            }
        }
        .flex {
            display: flex;
            margin: 30px 0 20px;
            justify-content: center;
            a {
                margin: 20px 10px 0;
                width: 350px;
            }
        }
        iframe {
            width: 800px;
            height: 450px;
            margin: 0 75px;
        }
        pre {
            width: 750px;
            margin: 0 70px;
            padding: 30px;

            code {
                font-size: 1rem;
            }
        }
        p {
            font-size: 1rem;
            margin: 0 75px;
        }
    }
}