@import "./variables.scss";

// 全ページ共通 //
body{
    margin: 60px auto 0;
    background-color: #fffdf3;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
@include mq(md) {
  #pc_body {
    display: flex;
    width: 1200px;
    margin: 0 auto;

    .pc_body_left {
      width: 950px;
    }
    .pc_body_right {
      width: 250px;
    }
  }
  .ad_top {
    text-align: center;
  }
}

// カテゴリー色分け //
._APPETIZER {background-color: #c7f3b0;}
._MAIN {background-color: #f1a25f;}
._DESERT {background-color: #f797c8;}
._1DISH {background-color: #ffde67;}
._ALONEFOOD {background-color: #9dc4ff;}

// カテゴリーソート //
.categories {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 5px;
    div {
        width: calc(100%/5);
        text-align: center;
        padding: 7px 0px;
        font-size: 4.5vw;
        color: #fff;
        text-shadow: 1px 1px 1px #947d7d;
        &:hover{cursor: pointer;}
    }
}
@include mq(md) {
    .categories {
        margin: 30px 40px;
        div {
            font-size: 1rem;
        }
    }
}

// レシピコンテンツ //
.recipe_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3vw;

    ul {
      list-style: none;
      padding: 0;
      margin: 10px 0 0;
      width: 45vw;
      height: 260px;
      border: solid 1px #c3c3c3;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 1px 1px 10px #afafaf;

      h4 {
        margin: 0;
        border-radius: 0 10px 0 10px;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #947d7d;
        font-family: "apple Chancery", serif;
        position: absolute;
        transform: translate(18.2vw,-0.1vw);
        width: 27vw;
        height: 24px;
        padding: 1px 0 0 0;
        &:active {background-color: #c3c3c3;}
        &:hover{cursor: pointer;}
      }
      li {
        height: 260px;
        border-radius: 10px;
        &:hover{cursor: pointer;}

        img {
          width: 45vw;
          height: 28vw;
          border-radius: 10px 10px 0 0;
        }
        .tag_box {
          display: flex;
          justify-content: center;
          text-align: center;

          h5 {
              display: inline-block;
              width: 20vw;
              background-color: #999;
              border-radius: 15px;
              margin: 5px 3px;
              padding: 2px;
              font-size: 0.7rem;
              color: #fff;
              font-weight: normal;
              &:active {background-color: #c3c3c3;}
            }
        }
        .text_box {
          height: 123px;
          &:active {background-color: #c3c3c3;}

          h3 {
            font-size: 0.9rem;
            margin: 0;
            text-align: center;
          }
          p {
            font-size: 0.8rem;
            padding: 0 1vw;
            margin: 5px 0;
            color: #666;
          }
        }
      }
    }
  }
  @include mq(md) {
    .recipe_contents {
      margin: 0 30px;
      justify-content: flex-start;

      ul {
        width: 200px;
        height: 280px;
        margin: 10px 10px 20px;

        h4 {
          width: 130px;
          transform: translate(70.5px, -0.5px);
        }
        li {
          height: 250px;

          img {
            width: 200px;
            height: 130px;
          }
          .tag_box {
            margin: 3px 0;
            h5 {
              max-width: 100px;
            }
          }
          .text_box {
            height: 110px;
          }
        }
      }
    }
  }